<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bleeding.ironbox.dao.UserDao">
    <!--  用户登录验证查询  -->
    <select id="selectUserByUserId" resultType="java.util.Map" parameterType="java.lang.String">
		select userId, userName, password from tb_user where userId = #{userId}
	</select>
    <!--  查询用户列表  -->
    <select id="getUserList" resultType="java.util.Map" parameterType="java.util.Map">
        select *
        from tb_user
        where 1=1
        <if test="keyword neq null and keyword neq ''">
            <!-- and account like concat("%",concat(#{account},"%")) -->
            and concat(userId, userName, ifnull(userSex, ''), ifnull(userPhone, ''), ifnull(userEmail, ''))
            like concat(concat('%', #{keyword}, '%'))
        </if>
    </select>
    <!--  根据ID查询单个用户  -->
    <select id="getUserById" resultType="java.util.Map" parameterType="java.lang.String">
    	select userId, userName, userSex, userPhone, userEmail
    	from tb_user
    	where userId = #{userId}
    </select>
    <!--  删除用户  -->
    <delete id="deleteUser" parameterType="java.lang.String">
    	delete from tb_user where userId in(${ids})
    </delete>
    <!--  新增用户  -->
    <insert id="insertUser" parameterType="java.util.Map">
    	insert tb_user(userId, userName, password, userSex, userPhone, userEmail) values(#{userId}, #{userName}, '12345678', #{userSex}, #{userPhone}, #{userEmail})
    </insert>
    <!--  更新用户信息  -->
    <update id="updateUser" parameterType="java.util.Map">
        update tb_user set userName = #{userName}, userSex = #{userSex}
        <if test="userPhone neq null and userPhone neq ''">
            ,userPhone = #{userPhone}
        </if>
        <if test="userEmail neq null and userEmail neq ''">
            ,userEmail = #{userEmail}
        </if>
        where userId = #{userId}
    </update>
    <!--  管理员登录验证查询  -->
    <select id="selectAdminById" resultType="java.util.Map" parameterType="java.lang.String">
    	select adminId, adminPassword
    	from tb_admin
    	where adminId = #{adminId}
    </select>
</mapper>